body {
    font-family: 'Nunito', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #ab1a4b; /* Pastel Pink */
    margin: 0;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
    box-sizing: border-box;
    touch-action: manipulation;
}

.container {
    max-width: 800px;
    width: 90%;
    padding: 20px;
    background-color: #fff0f5; /* Light Pink */
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    position: relative; /* Add this line */
}
#noButton {
    transition: 0.5s;
    border: 2px solid #ffffff;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); /* Add a 2px horizontal, 2px vertical, 5px blur, and 0.3 opacity shadow */
}
#yesButton {

    border: 2px solid #ffffff;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.header_text {
    color: #e91e63; /* Hot Pink */
    font-size: 2.5em;
    margin-bottom: 20px;
}

.gif_container img {
    max-width: 100%;
    height: auto;
}

.buttons {
    margin-top: 30px;
    position: relative; /* Add this line */
}

.btn {
    padding: 15px 32px;
    font-size: 1.2em;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    background-color: #ff4081; /* Rose Pink */
    color: white;
    transition: background-color 0.3s ease;
    margin: 0 10px;
    position: relative; /* Add this line */
}

.btn:hover {
    background-color: #f50057; /* Darker Rose Pink */
}

.made-with-love {
    margin-top: 30px;
    color: #ffffff; /* Purple */
}

.sad-gif-container {
    text-align: center;
}

.sad-gif-container img {
    max-width: 100%;
    height: auto;
}

.gif_container {
    display: flex;
    justify-content: center;
    align-items: flex-end; /* Align to the bottom */
    margin-left: 20px; /* Adjusted for consistency */
}