body {
    font-family: 'Nunito', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #ff4081; /* Pastel Pink */
    margin: 0;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
}

.container {
    max-width: 800px;
    width: 90%;
    padding: 20px;
    background-color: #fff0f5; /* Light Pink */
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #e91e63; /* Hot Pink */
    font-size: 3em;
    margin-bottom: 20px;
}

img {
    max-width: 100%;
    height: auto;
}

p {
    color: #9c27b0; /* Purple */
    font-size: 1.5em;
    margin-top: 20px;
}